<!DOCTYPE html>
<html lang="en">
<head>
<title>Detail</title>
<meta charset="utf-8">
<meta name = "format-detection" content = "telephone=no" />
{% load staticfiles %}
<link rel="icon" href="{% static 'polls/images/favicon.ico' %}">
<link rel="shortcut icon" href="{% static 'polls/images/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'polls/css/stuck.css' %}" />
<link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
<link rel="stylesheet" href="{% static 'polls/css/touchTouch.css' %}">
<script src="{% static 'polls/js/jquery.js' %}"></script>
<script src="{% static 'polls/js/jquery-migrate-1.1.1.js' %}"></script>
<script src="{% static 'polls/js/script.js' %}"></script>
<script src="{% static 'polls/js/superfish.js' %}"></script>
<script src="{% static 'polls/js/jquery.equalheights.js' %}"></script>
<script src="{% static 'polls/js/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'polls/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'polls/js/tmStickUp.js' %}"></script>
<script src="{% static 'polls/js/jquery.ui.totop.js' %}"></script>
<script src="{% static 'polls/js/touchTouch.jquery.js' %}"></script>

<script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  }); 
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">


<![endif]-->
</head>

<body>
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">Your voice!</a>
        </h1>
        </div>
      </div>
    </div>
  </section> 
</header>        

<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 30, 2014!</div>
  <div class="container">
  <div class="grid_12">
    <h2>{{ question.question_text }}</h2>
  </div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
      <form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
      <div class="grid_4">
        <div class="banner">
		  <div class="gall_block">
            <img src="{% static 'polls/images/zig-zag.png' %}" alt="">
            <div class="bann_capt">
              <div class="maxheight">
                <div class="box_inner">
                  <div class="bann_title">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                    <input type="submit" value="Vote" />
      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	    </div>
      </div>
{% endfor %}
    </div>
  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">  
        <div class="socials">
        </div>
        <div class="copyright"><span class="brand">Bliss </span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
    </div>
  </div> 
</footer> 
</body>
</html>

